@import 'dashboard/assets/scss/app';

*,
::before,
::after {
  --_histoire-color-primary-50: 255 251 245;
  --_histoire-color-primary-100: 255 244 210;
  --_histoire-color-primary-200: 245 215 140;
  --_histoire-color-primary-300: 232 196 110;
  --_histoire-color-primary-400: 215 175 80;
  --_histoire-color-primary-500: 201 153 58;
  --_histoire-color-primary-600: 179 136 45;
  --_histoire-color-primary-700: 139 105 20;
  --_histoire-color-primary-800: 100 74 10;
  --_histoire-color-primary-900: 44 30 5;
}

html,
body {
  font-family: 'Inter', sans-serif;
}
